name: Release pull request
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  check-if-should-run:
    name: Check if should run
    runs-on: ubuntu-18.04
    outputs:
      release: ${{ steps.check-if-release-pr.outputs.release }}
    steps:
      - id: check-if-release-pr
        name: Check if release PR
        run: |
          title="${{ github.event.pull_request.title }}"
          release='false'
          if grep -qE '^release v\d+\.\d+\.\d+([.-][^.-].*)?$' ; then
            release='true'
          fi
          echo "::set-output name=release::${release}"
  prepare-pr-content:
    name: Prepare PR content
    runs-on: ubuntu-18.04
    needs: check-if-should-run
    if: ${{ needs.check-if-should-run.outputs.release }}
    steps: 
      - name: Check if PR is empty
        run: |
          echo "github.base_ref=${{ github.base_ref }}"
          echo "github.head_ref=${{ github.head_ref }}"
      - name: Print GITHUB_SHA and GITHUB_REF
        run: |
          echo "GITHUB_SHA=${GITHUB_SHA}"
          echo "GITHUB_REF=${GITHUB_REF}"
      - name: Print some github context fields
        run: |
          echo "github.ref=${{ github.ref }}"
          echo "github.base_ref=${{ github.base_ref }}"
          echo "github.head_ref=${{ github.head_ref }}"
      - name: Print github context JSON
        run: |
          echo "toJson(github)=${{ toJson(github) }}"
      - name: Print PR title
        run: |
          echo "${{ github.event.pull_request.title }}"
      - name: Print github context JSON
        run: |
          echo "toJson(github)=${{ toJson(github) }}"
      - name: Print Go version
        run: |
          go version
